<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          <b>Korean Diabetes Association</b><br>
          101-2104, Lotte Castle President, 109 Mapo-daero, Mapo-gu, Seoul, 04146, Korea<br>
          E-mail : diabetes@kams.or.kr
        </p>

        <p>
          <b>Congress Secretariat (Planbear)</b><br>
          194, Gonghang-daero, Gangseo-gu, Seoul, Republic of Korea<br>
          TEL : 82-2-6734-1008 E-mail : info@planbear.co.kr
        </p>
      </div>
    </div>
  </div>
</footer>
