<div class="timetable-wrapper">
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.5.6 (Thu)</a>
        </div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021.5.7 (Fri)</a>
        </div>
        <div class="nav-item"><a [ngClass]="{'active':date===3}" (click)="setDate(3)">2021.5.8 (Sat)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="7">
            5월 6일 (목요일) - Live Sessions
          </th>
        </tr>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Live Channel A
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)">
            </div>
          </th>
          <th #th2>
            Live Channel B
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
          <th #th3>
            Live Channel C
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
          </th>
          <th #th4>
            Live Channel D
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 3)"></div>
          </th>
          <th #th5>
            VOD
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">시작</td>
          <td class="time">종료</td>
          <td class="kda-pink">Clinical diabetes and therapeutics</td>
          <td class="kda-yellow">Diabetic complications/<br>Epidemiology</td>
          <td class="kda-blue">Basic & Translational diabetes research</td>
          <td class="kda-red">KDA special session</td>
          <td rowspan="3">Video Session</td>
        </tr>
        <tr>
          <td class="time">15:00</td>
          <td class="time">17:00</td>
          <td>혈관세포연구회 세션</td>
          <td>신경병증연구회 세션</td>
          <td>대사질환 신약 및<br>기술개발 연구회 세션</td>
          <td class="kda-summit">KDA research summit</td>
        </tr>

        <tr>
          <td class="time">17:00</td>
          <td class="time">18:00</td>
          <td>Presidential oral presentation 1</td>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------------DAY2------------------------------- -->

    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="7">
            5월 7일 (금요일) - Live Sessions
          </th>
        </tr>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Live Channel A
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 0)">
            </div>
          </th>
          <th #th2>
            Live Channel B
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)"></div>
          </th>
          <th #th3>
            Live Channel C
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 2)"></div>
          </th>
          <th #th4>
            Live Channel D
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 3)"></div>
          </th>
          <th #th5>
            VOD
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goVod()"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">시작</td>
          <td class="time">종료</td>
          <td class="kda-pink">Clinical diabetes and therapeutics</td>
          <td class="kda-yellow">Diabetic complications/<br>Epidemiology</td>
          <td class="kda-blue">Basic & Translational diabetes research</td>
          <td class="kda-red">KDA special session</td>
          <td rowspan="13">Video Session</td>
        </tr>

        <tr>
          <td class="time">09:00</td>
          <td class="time">11:00</td>
          <td class="kda-pink-light">S1 Clinical diabetes and therapeutics 1</td>
          <td class="kda-yellow-light">S2 Epidemiology</td>
          <td class="kda-blue-light">S3 Insulin action/obesity</td>
          <td class="kda-red-light">진료지침위원회 세션</td>
        </tr>


        <tr>
          <td class="time">11:00</td>
          <td class="time">11:05</td>
          <td class="kda-break" colspan="4">Break</td>
        </tr>
        <tr>
          <td class="time">11:05</td>
          <td class="time">11:20</td>
          <td>Opening address<br>(모범회원상 시상 및<br>故 남곡 민헌기 교수 추모)</td>
          <td colspan="3" rowspan="3"></td>
        </tr>
        <tr>
          <td class="time">11:20</td>
          <td class="time">11:50</td>
          <td>설원학술상 특강</td>
        </tr>
        <tr>
          <td class="time">11:50</td>
          <td class="time">12:30</td>
          <td>Plenary lecture 1</td>
        </tr>

        <tr>
          <td class="time">12:30</td>
          <td class="time">12:40</td>
          <td colspan="4" class="kda-break">Break</td>
        </tr>

        <tr>
          <td class="time">12:40</td>
          <td class="time">13:00</td>
          <td>Satellite symposium 1</td>
          <td>Satellite symposium 2</td>
          <td>Satellite symposium 3</td>
          <td>Satellite symposium 4</td>
        </tr>

        <tr>
          <td class="time">13:00</td>
          <td class="time">14:30</td>
          <td colspan="3">Poster viewing</td>
          <td class="kda-red-light">인슐린 100주년 기념 세션</td>
        </tr>

        <tr>
          <td class="time">14:30</td>
          <td class="time">15:20</td>
          <td>Oral presentation 1</td>
          <td>Oral presentation 2</td>
          <td>Oral presentation 3</td>
          <td>KDA-KES joint session</td>
        </tr>

        <tr>
          <td class="time">15:20</td>
          <td class="time">15:30</td>
          <td colspan="4" class="kda-break">Break</td>
        </tr>

        <tr>
          <td class="time">15:30</td>
          <td class="time">17:30</td>
          <td class="kda-pink-light">
            S4 Clinical diabetes and therapeutics 2
          </td>
          <td class="kda-yellow-light">S5 Diabetic complications 1</td>
          <td class="kda-blue-light">S6 Insulin action/molecular metabolism</td>
          <td class="kda-red-light">보험-대관위원회 세션</td>
        </tr>

        <tr>
          <td class="time">17:30</td>
          <td class="time">18:30</td>
          <td>Presidential oral presentation 2</td>
          <td colspan="3"></td>
        </tr>

      </tbody>
    </table>

    <!-- ! -------------------------DAY 3---------------------- -->
    <table class="program" #table3 *ngIf="date === 3">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="7">
            5월 8일 (토요일) - Live Sessions
          </th>
        </tr>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Live Channel A
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 0)">
            </div>
          </th>
          <th #th2>
            Live Channel B
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 1)"></div>
          </th>
          <th #th3>
            Live Channel C
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 2)"></div>
          </th>
          <th #th4>
            Live Channel D
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 3)"></div>
          </th>
          <th #th5>
            VOD
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goVod()"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">시작</td>
          <td class="time">종료</td>
          <td class="kda-pink">Clinical diabetes and therapeutics</td>
          <td class="kda-yellow">Diabetic complications/<br>Epidemiology</td>
          <td class="kda-blue">Basic & Translational diabetes research</td>
          <td class="kda-red">KDA special session</td>
          <td rowspan="13">Video Session</td>
        </tr>

        <tr>
          <td class="time">08:40</td>
          <td class="time">09:00</td>
          <td>Satellite symposium 5</td>
          <td>Satellite symposium 6</td>
          <td>Satellite symposium 7</td>
          <td>Satellite symposium 8</td>
        </tr>
        <tr>
          <td class="time">09:00</td>
          <td class="time">09:30</td>
          <td>Young investigator award 특강</td>
          <td colspan="3"></td>
        </tr>

        <tr>
          <td class="time">09:30</td>
          <td class="time">10:10</td>
          <td>Plenary lecture 2</td>
          <td colspan="3"></td>
        </tr>

        <tr>
          <td class="time">10:10</td>
          <td class="time">10:20</td>
          <td class="kda-break" colspan="4">Break</td>
        </tr>

        <tr>
          <td class="time">10:20</td>
          <td class="time">12:20</td>
          <td class="kda-pink-light">S7 Clinical diabetes and therapeutics 3</td>
          <td class="kda-yellow-light">S8 Diabetic complications 2</td>
          <td class="kda-blue-light">S9 Integrative physiology</td>
          <td class="kda-red-light">Korea-Japan Forum session <span style="color:blue;">(E)</span>
          </td>
        </tr>

        <tr>
          <td class="time">12:20</td>
          <td class="time">12:30</td>
          <td class="kda-break" colspan="4">Break</td>
        </tr>

        <tr>
          <td class="time">12:30</td>
          <td class="time">12:50</td>
          <td>Satellite symposium 9</td>
          <td>Satellite symposium 10</td>
          <td>Satellite symposium 11</td>
          <td></td>
        </tr>

        <tr>
          <td class="time">12:50</td>
          <td class="time">13:30</td>
          <td class="kda-break" colspan="3">Break</td>
          <td rowspan="2" class="kda-red-light">KDA women Initiative</td>
        </tr>

        <tr>
          <td class="time">13:30</td>
          <td class="time">14:30</td>
          <td>Oral presentation 4</td>
          <td>Oral presentation 5</td>
          <td>Oral presentation 6</td>
        </tr>

        <tr>
          <td class="time" colspan="2">14:30 ~</td>
          <td><b>Closing</b></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
