<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="error-content text-center">
        <h2>Page Not Found</h2>
        <p>페이지를 찾을 수 없습니다.</p>
      </div>
    </div>
  </div>
</div>
