// break points
$desktop: 1024px;
$tablet: 768px;
$mobile: 576px;

// mixin
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

.sponsor-wrapper {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

.stamp-tour {
  border-top: 3px dotted gray;
  padding-top: 60px;
  margin-top: 36px;
  padding-bottom: 0;

  .stamp-tour-title {
    font-size: 2.3rem;
    margin-bottom:26px;
  }

  .stamp-item {
    display: flex;
    position: relative;
    flex: 0 0 19%;
    justify-content: center;
    align-items: center;
    max-width: 19%;
    height: 15vh;
    margin: 0 0.5%;
    margin-bottom: 16px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    border: 1px solid #ddd;

    &.visited {
      background-color: rgba(0, 0, 0, 0.3);
    }

    img {
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 90%;

    }

    .spon-logo {


      &.opacity {
        opacity: 0.5;
      }
    }

    .stamp-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}


// position default class
.position_default {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

body,
html {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sponsors {
  position: relative;
  width: 100%;
  height: 600%;

  @include mobile {
    height: 700%;
  }

  @include tablet {
    height: 370%;
  }

  @include desktop {
    height: 620%;
    max-height: 6274px;
  }
}

// 섹션별 배경

.section_1 {
  background: url(/assets/img/e-booth/imgs/bg1.png) no-repeat bottom / cover;
  position: relative;
  width: 100%;
  height: 14%;

  @include tablet {
    height: 26.21%;
  }

  @include desktop {
    height: 26.21%;
    max-height: 1416px;
  }
}

.section_2 {
  background: url(/assets/img/e-booth/imgs/bg2.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 35%;
  
  @include tablet {
    height: 41.39%;
  }

  @include desktop {
    height: 41.39%;
    max-height: 2429px;
  }
}

.section_3 {
  background: url(/assets/img/e-booth/imgs/bg3.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 56%;

  @include tablet {
    height: 32.39%;
  }

  @include desktop {
    height: 32.39%;
    max-height: 2429px;
  }
}

// section_1 contents

.diamond_banner {
  background: url(/assets/img/e-booth/imgs/diamond_banner.png) no-repeat top / contain;
  max-width: 1440px;
  max-height: 497px;
  width: 100%;
  height: 20%;
  top: 10%;

  @include mobile {
    top: 8%;
  }

  @include tablet {
    width: 96%;
    height: 42%;
    top: 8%;
  }

  @include desktop {
    width: 80%;
    height: 50%;
    top: 5%;
  }
}

.diamond_booth_set {
  display: flex;
  flex-flow: row wrap;
  max-width: 1600px;
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: 15%;

  @include tablet {
    max-width: 1600px;
    height: 56.9497%;
    bottom: 3%;
  }
}

.diamond_booth_1 {
  background: url(/assets/img/e-booth/imgs/diamond_booth_1.png) no-repeat center / contain;
  flex: auto;
  width: 100%;
  height: 66%;

  @include tablet {
    width: 50%;
    height: 100%;
  }
}

.diamond_booth_2 {
  background: url(/assets/img/e-booth/imgs/diamond_booth_2.png) no-repeat center / contain;
  flex: auto;
  width: 100%;
  height: 66%;

  @include tablet {
    width: 50%;
    height: 100%;
  }
}

.diamond_left_flag {
  background: url(/assets/img/e-booth/imgs/diamond_left_flag.png) no-repeat center / contain;
  max-width: 222px;
  max-height: 645px;
  margin-left: -42.8125%;
  width: 20%;
  height: 45%;
  bottom: 27%;
  min-width: 60px;

  @include mobile {
    margin-left: -40%;
    width: 15.4166%;
    height: 30%;
    bottom: 33%;
  }

  @include tablet {
    margin-left: -37%;
    bottom: 3%;
    width: 16%;
    height: 50%;
  }
}

.diamond_right_flag {
  background: url(/assets/img/e-booth/imgs/diamond_right_flag.png) no-repeat center / contain;
  max-width: 222px;
  max-height: 645px;
  margin-left: 42.8125%;
  width: 20%;
  height: 45%;
  bottom: -7%;
  min-width: 60px;

  @include mobile {
    margin-left: 40%;
    width: 15.4166%;
    height: 30%;
    bottom: -3%;
  }

  @include tablet {
    margin-left: 37%;
    bottom: 3%;
    width: 16%;
    height: 50%;
  }
}

// section_2 contents
.platinum_banner {
  background: url(/assets/img/e-booth/imgs/platinum_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 212px;
  width: 42.25%;
  height: 8%;

  @include tablet {
    width: 26%;
    height: 17%;
    min-width: 326px;
  }
}

.platinum_booth_set_1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 32%;
  position: absolute;
  top: 11%;

  @include tablet {
    max-width: 1472px;
    min-width: 456px;
    top: 18%;
    width: 85%;
    height: 18%;
  }

  @include desktop {
    width: 80%;
  }
}

.platinum_booth_1 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 736px;
    max-height: 456px;
    width: 50%;
    height: 100%;
  }
}

.platinum_booth_set_2 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 32%;
  position: absolute;
  top: 27%;

  @include tablet {
    max-width: 1472px;
    min-width: 456px;
    top: 42%;
    width: 85%;
    height: 18%;
  }

  @include desktop {
    width: 80%;
  }
}

.platinum_booth_2 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 736px;
    max-height: 456px;
    width: 50%;
    height: 100%;
  }
}

.platinum_booth_3 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 736px;
    max-height: 456px;
    width: 50%;
    height: 100%;
  }
}

.platinum_booth_set_3 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 32%;
  position: absolute;
  top: 59%;

  @include tablet {
    max-width: 1472px;
    min-width: 456px;
    top: 66%;
    width: 85%;
    height: 18%;
  }

  @include desktop {
    width: 80%;
  }
}

.platinum_booth_4 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 736px;
    max-height: 456px;
    width: 50%;
    height: 100%;
  }
}

.platinum_booth_5 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 736px;
    max-height: 456px;
    width: 50%;
    height: 100%;
  }
}

// section_3 contents

.gold_banner {
  background: url(/assets/img/e-booth/imgs/gold_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 234px;
  width: 42.25%;
  height: 5%;

  @include tablet {
    width: 26%;
    height: 17%;
    min-width: 326px;
  }
}

.gold_booth_set_1 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 8%;

  @include tablet {
    max-width: 1396px;
    min-width: 640px;
    top: 18%;
    width: 80%;
    height: 20%;
  }

  @include desktop {
    top: 14%;
  }
}

.gold_booth_1 {
  background: url(/assets/img/e-booth/imgs/gold_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_2 {
  background: url(/assets/img/e-booth/imgs/gold_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_set_2 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 28%;

  @include tablet {
    max-width: 1396px;
    min-width: 640px;
    top: 38%;
    width: 80%;
    height: 20%;
  }

  @include desktop {
    top: 34%;
  }
}

.gold_booth_3 {
  background: url(/assets/img/e-booth/imgs/gold_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_4 {
  background: url(/assets/img/e-booth/imgs/gold_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_set_3 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 20%;
  position: absolute;
  top:48%;

  @include tablet {
    max-width: 1396px;
    min-width: 640px;
    top: 58%;
    width: 80%;
    height: 20%;
  }

  @include desktop {
    top: 54%;
  }
}

.gold_booth_5 {
  background: url(/assets/img/e-booth/imgs/gold_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_6 {
  background: url(/assets/img/e-booth/imgs/gold_booth_6.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_set_4 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 68%;

  @include tablet {
    max-width: 1396px;
    min-width: 640px;
    top: 78%;
    width: 80%;
    height: 20%;
  }

  @include desktop {
    top: 74%;
  }
}

.gold_booth_7 {
  background: url(/assets/img/e-booth/imgs/gold_booth_7.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_8 {
  background: url(/assets/img/e-booth/imgs/gold_booth_8.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 720px;
    max-height: 447px;
    width: 50%;
    height: 100%;
  }
}


.item-desc {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  font-size: 1.33rem;

  &>p {
    margin-bottom: 0;
    word-break: break-all;
  }

  .image-item {
    margin-right: 16px;
  }
}

// ! MODAL --------------------------------------------------------------- 
/* 스템프투어 당첨 이벤트 모달 */
.win-alert-btn {
  display: none;
}

.win-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue2);
    }
  }
}


.modal.detail-modal {

  .modal-body {

    overflow: auto;
  }

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .photo {
      display: flex;
    }

    .image-wrapper {
      display: flex;
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;

      img {
        width: auto;
        height: auto;
        max-width: 95%;
        max-height: 95%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    flex-basis: auto;
    min-width: 200px;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue8);
        text-decoration: underline;

      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // 반응형작업을 위해 구조상 item-info를 강제로 위로 올렸기 때문에 하단에 attachments에 패딩 상단 값은 item-info height값이다.
    // 만약에 item-info에 내용이 변경되면 패딩값을 변경해야한다.
    padding-top: 80px;
    color: var(--gray22);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray22);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--gray10);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--blue8);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ellipsis {
      max-width: 65px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  .item-desc {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }
}

article {
  margin: 0 auto;
}

.sponsor-wrapper {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

.list-wrapper {
  .list-item {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

@media screen and (max-width : 1280px) {
  .stamp-tour {
    .stamp-item {
      height: 120px;
    }
  }
}

@media(max-width: 1025px) {
  .list-wrapper {
    padding: 0;

    .list-item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

@media (max-width: 1024px) {
  figure {
    flex-wrap: wrap;
  }

  .modal.detail-modal .item-info {
    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}


@media (max-width: 768px) {
  .modal.detail-modal figure .image-wrapper {
    min-width: 117px;
    height: unset;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }


  .list-wrapper {
    padding: 0;

    .list-item {
      flex: 0 0 33.33%;
      max-width: 33.3%
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 24%;
      max-width: 24%;

    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .item-info {
    .item-name {
      word-break: break-all;
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 32.33%;
      max-width: 32.33%;
    }
  }
}

@media (max-width: 414px) {
  .modal.detail-modal .item-info {
    max-width: 137px;
    min-width: unset;

  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal figure .item-info {
    left: 133px;
  }

  .modal.detail-modal .attachments {
    min-width: 260px;
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 100%;
      max-width: 100%;
      height: 160px;
    }
  }
}
