<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="section_1">
    <div class="diamond_banner position_default"></div>
    <div class="diamond_booth_set position_default">
      <div class="diamond_booth_1" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608b9f84f422020012ec2295')"></div>
      <div class="diamond_booth_2" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608ba1b9f422020012ec22a2')"></div>
    </div>
    <div class="diamond_left_flag position_default"></div>
    <div class="diamond_right_flag position_default"></div>
  </div>
  <div class="section_2">
    <div class="platinum_banner position_default"></div>
    <div class="platinum_booth_set_1 position_default">
      <div class="platinum_booth_1" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608ba298f422020012ec22b5')"></div>
    </div>
    <div class="platinum_booth_set_2 position_default">
      <div class="platinum_booth_2" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608ba369f422020012ec22c6')"></div>
      <div class="platinum_booth_3" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608ba409f422020012ec22cd')"></div>
    </div>
    <div class="platinum_booth_set_3 position_default">
      <div class="platinum_booth_4" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608ba4caf422020012ec22d4')"></div>
      <div class="platinum_booth_5" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608baa67f422020012ec22db')"></div>
    </div>
  </div>
  <div class="section_3">
    <div class="gold_banner position_default"></div>
    <div class="gold_booth_set_1 position_default">
      <div class="gold_booth_1" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bab9ff422020012ec22e1')"></div>
      <div class="gold_booth_2" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bad43f422020012ec22e6')"></div>
    </div>
    <div class="gold_booth_set_2 position_default">
      <div class="gold_booth_3" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bae57f422020012ec22eb')"></div>
      <div class="gold_booth_4" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608baf94f422020012ec22f2')"></div>
    </div>
    <div class="gold_booth_set_3 position_default">
      <div class="gold_booth_5" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bb0b5f422020012ec22f5')"></div>
      <div class="gold_booth_6" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bb427f422020012ec22fc')"></div>
    </div>
    <div class="gold_booth_set_4 position_default">
      <div class="gold_booth_7" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bb190f422020012ec22fb')"></div>
      <div class="gold_booth_8" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('608bb4dbf422020012ec2301')"></div>
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<article>
  <div class="list-wrapper row m-0">
    <div class="list-item px-3" *ngFor="let booth of categories2">
      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2(booth.id)">
        <figure>
          <div class="image-wrapper">
            <img [src]="booth.photoUrl" [alt]="booth.name">
          </div>
        </figure>
      </div>
    </div>
  </div>
</article>

<div class="my-page-inner stamp-tour" *ngIf="user && user.isStamp">
  <h3 class="text-center stamp-tour-title">STAMP TOUR CHECK LIST</h3>
  <div class="info-inner">
    <div class="stamp-list row m-0">
      <ng-container *ngFor="let booth of boothsOfStamp">
        <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
          <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" [alt]="booth.name">
          <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/e-booth/imgs/stamp.png" alt="스탬프이미지">
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>
